p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding: 15px 20px;
    margin: 25px;
    
}


h1 {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px 0px;
    margin: 5px 0;
    border-radius: 5px;
}

select {
    border-radius: 5px;
}


::placeholder{
    padding-left: 10px;
}

#login_button {
    text-decoration: none;
    background-color: #ff4655;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px;
    
    
}

#register_button {
    text-decoration: none;
    background-color: #ff4655;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px;
    
    
}

#Jurusan {
    width: 100%;
    padding: 12px
    
    
}

.container {
    background-color: white;
    border-radius: 5px;

}

.reg_form {
    padding-left: 200px;
    margin-right: 500px;
}


body {
    padding: 100px 35%;
    text-align: center;
    background-color: #1f1f1f;
    margin: 150px 50px;
    background: url(ucl_piala.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}

.Daftar {
    text-decoration: none;
}